/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
BOX-SIZING
NORMALIZE
GRID, THANKS ZURB FOUNDATION!
MAIN
CODE
MOBILE
PRINT
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

/*------------------------------------*\
    $GRID from ZURB's Foundation
\*------------------------------------*/
.container { padding: 0 20px; }
.row {
    width: 100%;
    max-width: 980px;
    min-width: 727px;
    margin: 0 auto;
}
.row .row { min-width: 0; }
.column, .columns {
    margin-left: 4.4%;
    float: left;
    min-height: 1px;
    position: relative;
}
.column:first-child, .columns:first-child { margin-left: 0; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
.row .one { width: 4.27503%; }
.row .two { width: 12.97730%; }
.row .three { width: 21.67957%; }
.row .four { width: 30.37999%; }
.row .five { width: 39.08411%; }
.row .six { width: 47.78638%; }
.row .seven { width: 56.48865%; }
.row .eight { width: 65.19092%; }
.row .nine { width: 73.89319%; }
.row .ten { width: 82.59546%; }
.row .eleven { width: 91.29773%; }
.row .twelve { width: 100%; }
.row .centered { float: none; margin: 0 auto; }

.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    background: #fff;
}
body {
    font: 19px/31px Georgia, Times, “Times New Roman”, serif;
}
h1,
h2,
h3 {
    font-family: 'Garamond', 'Georgia', serif;
}
a, a:visited {
    color: #1863A0;
}
blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}
header {
  text-align: center;
  position: relative;
  margin-top: -605px;
}
header h1 {
    font-weight: 300;
    font-size: 76px;
    font-size: 7.6rem;
    position: relative;
    margin-bottom: 0;
}
header h2 {
    font-weight: 300;
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 34px;
    padding: 0 23%;
}
.sidebar {
    position: fixed;
}
.sidebar a {
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
.sidebar a:hover {
    border-bottom: 1px solid #999;
}
.sidebar ul {
    list-style: none;
}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 * Solarized Light theme
 *
 * Adaptation of Solarized Light from ethanschoonover.com/solarized
 *
 * @author Ethan Schoonover
 * @author David Litmark
 * @version 1.0.0
 */
pre {
    background: #fdf6e3;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #657b83;
    font-size: 14px;
    margin-bottom: 20px;
}
pre, code {
    font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
}
pre .comment {
    color: #93a1a1;
}
pre .constant {
    color: #657b83;
}
pre .constant.language {
    color: #268bd2;
}
pre .constant.regexp {
    color: #2aa198;
}
pre .storage {
    color: #268bd2;
}
pre .string, pre .comment.docstring {
    color: #2aa198;
}
pre .support.tag.script, pre .support.tag.style {
    color: #2aa198;
}
pre .string.regexp {
    color: #2aa198;
}
pre .string.regexp.open, pre .string.regexp.close {
    color: #2aa198;
}
pre .keyword, pre .selector {
    color: #859900;
}
pre .inherited-class {
    font-style: italic;
}
pre .entity {
    color: #b58900;
}
pre .support, *[data-language="c"] .function.call {
    color: #859900;
}
pre .support.method {
    color: #657b83;
}
pre .support.property {
    color: #657b83;
}
pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #657b83;
}

/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media only screen and (max-width: 727px) {
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .container { min-width: 0; margin-left: 0; margin-right: 0; }
    .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
    .row .row .column, .row .row .columns { padding: 0; }
    .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
    .column:last-child, .columns:last-child { margin-right: 0; float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    .column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
    .column:after, .columns:after { clear: both; }
}

/*------------------------------------*\
    $PRINT
\*------------------------------------*/
@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}