; editorconfig.org
root = true

; Unix-style newlines
[*]
end_of_line = LF
indent_style = space

[*.html]
indent_size = 4

[*.css]
indent_size = 4

[Cakefile]
indent_size = 2

[*.coffee]
indent_size = 2

; CoffeeScript outputs JS with 2-space indents.
; You shouldn't be editing the JS here anyways.
[*.js]
indent_size = 2